
{% extends "home/index.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}

      
         
              <div class="col-md-12">
                <br>
                <br>
                <br>
                <br>
 
      <h5 class="card-title text-center">CATEGORIES</h5>
           

              <form action="{{ url_for('mods.addProductCategory') }}" method="post" id="category_creator" role="form" enctype="multipart/form-data">
                <input type="hidden" name="update" id="category_update" value=0 />
                
                <div class="form-row">
 
              <div class="col-md-4">
                <h5>Add Company Category</h5>
                      <div class="position-relative form-group">
                  <label for="item_code" class="col-form-label">Category Name</label>
                 
                    <input class="form-control" type="text" name="name" placeholder="Enter Category Name" id="category_name">
                  <!-- <label for="item_code" class="col-form-label">Category Image</label> -->

                    <input class="form-control hide" type="file" name="image_" id="image_" accept="image/*" >

                <div id="selected_products">
                  <ul id="add_procs">

                  </ul>
                 </div>
                </div>
              </div>

              <input type="hidden" name="parent_id" value="{{ company.company_type_id }}">
              <input type="hidden" name="created_date" value="" id="category_date">
              <input type="hidden" name="status" value="1" id="category_status">
            </div>
                <div class="form-row">
                  <div class="col-md-4">
                      <div class="position-relative form-group">
                  <label for="" class="col-form-label"></label>
                  
                    <input class="btn btn-success" type="submit" value="SAVE" id="add_product_category">
                  </div>
                </div>
              </div>

              </form>
           
            <h5 class="card-title text-center">
              COMPANY CATEGORIES
            </h5>
            <div class="form-row">
              <div class="col-md-8">
                  <input type="hidden" name="confirm_delete" id="confirm_delete" value="0" />
     
                    <ul id="cats">
                      {% set company_entries = [] %}
                      {% for entry in company_categories %}
                        {% do company_entries.append(entry.category.id) %}
                        <li>
                          <span class="cat_name">{{ entry.category.name }} <span class="cat_item add" data-category="{{ entry.category.id }}" data-name="{{ entry.category.name }}" title="Add products to category"><i class="fa fa-plus"></i> </span><span class="edit_category remove" title="Edit"><i class="fa fa-ellipsis-h"></i></span> <a title="Stop using this category" href="{{ url_for('mods.removeCategory', category_id=entry.category.id )}}"><i class="fa fa-times"></i></a></span>
                        </li>
                      {% else %}
                        <span id="no_result_found_message">No Company Category Found</span>
                      {% endfor %}
                    </ul>
                 
          
              </div>
            </div>

            <h5 class="card-title text-center">
              UNUSED CATEGORIES
            </h5>
            <div class="form-row">
              <div class="col-md-8">                
                    <ul id="g_cats">
                      {% for category in global_categories %}
                        {% if category.id not in company_entries %}
                          <li>
                            <span class="cat_name">{{ category.name }} 
                                <a title="Add to company category" href="{{ url_for('mods.addCompanyCategory', category_id=category.id )}}"><i class="fa fa-plus"></i></a>
                           </span>
                          </li>
                        {% endif %}
                      {% endfor %}
                    </ul>
                 
              </div>
            </div>


            <div id="product_list">
              <div class="bg"></div>
              <div id="stick_search" class="p-3 fix">
                 <h3 class="text-center text-uppercase p-2">Add Products to <u><span id="active_category_name"></span></u> category</h3>
                <input type="text" name="product_search" class="form-control" placeholder="Search Products" id="product_search">
                
              </div>
              <form action="{{ url_for('mods.addCategoryProducts') }}" method="post" id="category_product_creator" role="form" enctype="multipart/form-data">
                <input type="submit" value="SAVE" class="btn btn-info" id="add_category_products">
                <input type="hidden" name="category" id="category" value="">
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
              <ul>
                {% if company.products %}
                  {% for product in company.products %}
                    {% if product.status|int %}
                      <li class="cat_prod_item"><input type="checkbox" name="products_for_category" value="{{ product.id }}" id="product_{{ product.item_code }}"><img src="{{ url_for('static',filename=product.image) }}" /><h3> {{ product.name }}</h3><p></p> </li>
                    {% endif %}
                  {% endfor%}
                {% else %}
                    <li>No Products available.</li>
                {% endif %}
              </ul>

              </form>

            </div>
    </div>




{% endblock %}


