-f /usr/share/pip-wheels
alembic==0.9.1
aniso8601==8.0.0
appdirs==1.4.3
asn1crypto==0.23.0
astroid==2.4.2
attrs==19.1.0
autopep8==1.5.3
Babel==2.4.0
backcall==0.2.0
Beaker==1.5.4
beautifulsoup4==4.6.0
bleach==3.1.0
blinker==1.4
BTrees==4.4.1
certifi==2020.6.20
cffi==1.9.1
chardet==3.0.4
click==7.1.2
cloudinary==1.21.1
colorama==0.4.3
configparser==3.7.4
coverage==4.4.1
cryptography==2.7
cssselect==1.0.3
decorator==4.4.0
defusedxml==0.6.0
dicttoxml==1.7.4
docutils==0.15.2
dominate==2.3.5
dotmap==1.2.17
entrypoints==0.2.3
et-xmlfile==1.0.1
Flask==0.12.1
Flask-Admin==1.5.3
Flask-Babel==0.11.2
Flask-BabelEx==0.9.4
Flask-Bootstrap==3.3.7.1
Flask-Login==0.4.0
Flask-Mail==0.9.1
Flask-Migrate==2.0.3
Flask-MySQL==1.4.0
Flask-OpenID==1.2.5
flask-paginate==0.6.0
Flask-Principal==0.4.0
Flask-RESTful==0.3.6
Flask-Script==2.0.5
Flask-Security==3.0.0
Flask-SQLAlchemy==2.2
Flask-WhooshAlchemy==0.56
Flask-WTF==0.14.2
flipflop==1.0
future==0.18.2
geocoder==1.38.1
geoip2==2.9.0
guess-language==0.2
html5lib==1.0b10
idna==2.10
importlib-metadata==1.7.0
iniparse==0.4
ip2geotools==0.1.5
IP2Location==8.1.0
ipykernel==5.3.1
ipython==7.16.1
ipython-genutils==0.2.0
isort==5.0.3
itsdangerous==0.24
jdcal==1.4.1
jedi==0.11.0
jeepney==0.4.3
Jinja2==2.10
jsonschema==3.2.0
jupyter-client==6.1.5
jupyter-core==4.6.3
keyring==21.2.1
lazy-object-proxy==1.5.0
lxml==4.5.1
Mako==1.1.3
Markdown==3.2.2
MarkupSafe==1.1.1
maxminddb==1.5.4
mccabe==0.6.1
mistune==0.8.4
mod-pywebsocket==0.7.9
nbconvert==5.6.1
nbformat==5.0.7
notebook==6.0.3
numpy==1.12.1
olefile==0.45.1
openpyxl==3.0.3
packaging==20.4
pandocfilters==1.4.2
parso==0.1.0
passlib==1.7.2
pbr==5.4.5
peewee==3.13.3
persistent==4.6.4
pexpect==4.8.0
pickleshare==0.7.5
Pillow==4.1.1
pip-review==1.1.0
pkginfo==1.5.0.1
ply==3.9
prometheus-client==0.8.0
prompt-toolkit==3.0.5
ptyprocess==0.6.0
pycodestyle==2.6.0
pycparser==2.14
pycrypto==2.6.1
Pygments==2.6.1
PyJWT==1.7.1
pylint==2.5.3
PyMySQL==0.7.11
pyOpenSSL==16.2.0
pyparsing==2.4.2
pyquery==1.4.0
pyrsistent==0.16.0
PySocks==1.6.7
python-dateutil==2.6.0
python-dotenv==0.14.0
python-editor==1.0.4
python3-openid==3.2.0
pytz==2020.1
pyzmq==19.0.1
ratelim==0.1.6
readme-renderer==26.0
requests==2.24.0
requests-toolbelt==0.9.1
rfc3986==1.4.0
SecretStorage==3.1.2
selenium==3.141.0
Send2Trash==1.5.0
simplejson==3.10.0
six==1.12.0
speaklater==1.3
SQLAlchemy==1.1.9
sqlalchemy-elasticquery==0.0.3
sqlalchemy-migrate==0.11.0
sqlparse==0.2.3
Tempita==0.5.2
terminado==0.8.3
testpath==0.4.4
toml==0.10.1
tornado==6.0.4
tqdm==4.47.0
traitlets==4.3.3
transaction==2.1.2
twine==3.2.0
typed-ast==1.4.1
typing==3.7.4.1
urllib3==1.25.3
validators==0.11.3
visitor==0.1.3
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==0.12.1
Whoosh==2.7.4
widgetsnbextension==3.0.8
wrapt==1.12.1
WTForms==2.1
xlrd==1.2.0
zipp==3.1.0
zope.interface==5.1.0
