<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>Our Store Front Online | {{ title }}</title>

    {% include "osf/osf_header.html" %}
</head>

<body>
    <!-- Search Wrapper Area Start -->
        {% include "osf/osf_search.html" %}
   
    <!-- Search Wrapper Area End -->

    <!-- ##### Main Content Wrapper Start ##### -->
    <div class="main-content-wrapper d-flex clearfix">
        {% include "osf/osf_navigator.html" %}

        <!-- Mobile Nav (max width 767px)-->
        <div class="mobile-nav">
            <!-- Navbar Brand -->
            <div class="amado-navbar-brand">
                <a href="index.html"><img src="{{ url_for('static', filename='img/core-img/logo.png') }}" alt=""></a>
            </div>
            <!-- Navbar Toggler -->
            <div class="amado-navbar-toggler">
                <span></span><span></span><span></span>
            </div>
        </div>

  

        <!-- Product Catagories Area Start -->
        <div class="products-catagories-area clearfix">
         <section class="features-icons bg-light text-center">
            <img src="{{ url_for('static', filename='img/core-img/logo.png') }}" alt=""></a>
            <h1>Our Store Front Online</h1>
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <i class="icon-screen-desktop m-auto text-primary"></i>
              </div>
              <h3>Are you a Business Owner?</h3>
              <p class="lead mb-0">Is the novelty affecting or have affected your business in any way?</p>
              <p class="lead mb-0">Have your customers been inconvienced by covid-19 restrictions?</p>
              <p class="lead mb-0">Would your business benefit from having an online presence?</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <i class="icon-layers m-auto text-primary"></i>
              </div>
              <h3>Are you a Consumer?</h3>
              <p class="lead mb-0">Is the novelty affecting or have affected you and yours in any way?</p>
              <p class="lead mb-0">Is your health and the health of your family a priority?</p>
              <p class="lead mb-0">Would you benefit if your local business had an online presence?</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <i class="icon-check m-auto text-primary"></i>
              </div>
              <h3>Did you Answer yes to any of those questions?</h3>
              <p class="lead mb-0">IF you answered yes to any of those questions THEN you are in the right place.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Image Showcases -->
    <section class="showcase">
      <div class="container-fluid p-0">
        <div class="row no-gutters">

          <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('{{url_for('static',filename='img/about/connect.jpg')}}');"></div>
          <div class="col-lg-6 order-lg-1 my-auto showcase-text">
            <h2>Our Store Front Online</h2>
            <p class="lead mb-0">OSFonline connects local businesses with local consumers from a central, easy to use, cost effective and convenient platform.</p>
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col-lg-6 text-white showcase-img" style="background-image: url({{url_for('static',filename='img/about/iot.png')}});"></div>
          <div class="col-lg-6 my-auto showcase-text">
            <h2>Technology</h2>
            <p class="lead mb-0">We leverage IoT solutions with web technologies to give local consumers and merchants the best user experience possible to conduct essential and interactive business that would normally have to be done on business premises, from anywhere you happen to have a internet connection.</p>
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url({{url_for('static',filename='img/about/waiting.jpg')}});"></div>
          <div class="col-lg-6 order-lg-1 my-auto showcase-text">
            <h2>Benefits for OSFO Customer</h2>
            <p class="lead mb-0">
                -No more waiting in long lines to start your business transactions<br>
                -No online payment method required to send through orders<br>
                -Automatic adherance to COVID-19 social distancing rules <br>
                -Transact essential business from you comfort zone<br>
                -Stay safe and Healthy<br>
            </p>
          </div>
        </div>
            <div class="row no-gutters">
          <div class="col-lg-6 text-white showcase-img" style="background-image: url({{url_for('static',filename='img/about/satisfied.jpg')}});"></div>
          <div class="col-lg-6 my-auto showcase-text">
            <h2>Benefits for OSFO Business</h2>
            <p class="lead mb-0">
                -Satisfied Customers<br>
                -Extensive online presence<br>
                -Cost effective COVID-19 prevention implementation.<br>
                -Automatic adherance to COVID-19 social distancing regulations<br>
                -Keep your staff safe and minimise their risks of contracting the novelty.<br>
                -Serve more customers<br>
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- Testimonials -->
<!--     <section class="testimonials text-center bg-light">
      <div class="container">
        <h2 class="mb-5">What people are saying...</h2>
        <div class="row">
          <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img class="img-fluid rounded-circle mb-3" src="img/testimonials-1.jpg" alt="">
              <h5>Margaret E.</h5>
              <p class="font-weight-light mb-0">"This is fantastic! Thanks so much guys!"</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img class="img-fluid rounded-circle mb-3" src="img/testimonials-2.jpg" alt="">
              <h5>Fred S.</h5>
              <p class="font-weight-light mb-0">"Bootstrap is amazing. I've been using it to create lots of super nice landing pages."</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img class="img-fluid rounded-circle mb-3" src="img/testimonials-3.jpg" alt="">
              <h5>Sarah W.</h5>
              <p class="font-weight-light mb-0">"Thanks so much for making these free resources available to us!"</p>
            </div>
          </div>
        </div>
      </div>
    </section> -->
        </div>
              
        
        <!-- Product Catagories Area End -->
    </div>
    <!-- ##### Main Content Wrapper End ##### -->

    <!-- ##### Newsletter Area Start ##### -->
 
    <!-- ##### Newsletter Area End ##### -->

    <!-- ##### Footer Area Start ##### -->
{% include "osf/osf_footer.html" %}
    <!-- ##### Footer Area End ##### -->

 {% include "osf/osf_scripts.html" %}


</body>

</html>