{% import "bootstrap/utils.html" as utils %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>Our Store Front Online | {{ title }}</title>

    {% include "osf/osf_header.html" %}
</head>

<body>
    <!-- Search Wrapper Area Start -->
        {% include "osf/osf_search.html" %}
 
    <!-- Search Wrapper Area End -->

    <!-- ##### Main Content Wrapper Start ##### -->
    <div class="main-content-wrapper d-flex clearfix">

      {% include "osf/osf_navigator.html" %}
      <!-- Header Area End -->

      <!-- Product Catagories Area Start -->
      <div class="products-catagories-area clearfix">
      {{ utils.flashed_messages() }}
          <div class="amado-pro-catagory clearfix">         
            {% for favourite in favourites_["companies"] %}
                 {% set business = favourite.company %}
                    <div class="container">
<div class="col-xs-12 col-md-6">
                <!-- First product box start here-->
                <div class="prod-info-main prod-wrap clearfix">
                      <div class="row">
                           <div class="col-md-5 col-sm-12 col-xs-12">
                            <div class="product-image">
                             <img src="{{ url_for('static', filename=business.logo) }}" class="img-responsive">
                               <span class="tag2 {{ closed }}">
                                 
                               </span>
                       </div>
                  </div>
     <div class="col-md-7 col-sm-12 col-xs-12">
                  <div class="product-detail">
                               <h5 class="name">
                               <a href="{{ url_for('osf.company',name= business.name,_id=business.id)}}">
                                {{ business.name }}
                               </a><br>
                               <a href="#">
                                <span>{{ business.company_type.name }}</span>
                               </a>                           
                        </h5>
                            <p class="price-container">
                             <span></span>
                           </p>
              <span class="tag1">
               
                {% set add_fav_class = "favourite" %}  
                {% set fav_title = "Remove "+ business.name + " from favourites." %}
              
                <span class="add_fav {{ add_fav_class }}" data="1:{{ business.id }}:{{ business.name }}:0" data-toggle="tooltip" title="{{ fav_title }}">
                  <i class="fa fa-star"></i>
                </span>
              </span>
   </div>
   <div class="description">
      <p> </p>
   </div>
      <div class="product-info smart-form">
         <div class="row">
         <div class="col-md-12">
          <a href="{{ url_for('osf.shop',company=business.id) }}" class="shop-here btn btn-danger">Shop Here</a>
       </div>
      <div class="col-md-12">
        <!--  <div class="rating">Rating:
          <label for="stars-rating-5"><i class="fa fa-star text-danger"></i></label>
          <label for="stars-rating-4"><i class="fa fa-star text-danger"></i></label>
          <label for="stars-rating-3"><i class="fa fa-star text-danger"></i></label>
          <label for="stars-rating-2"><i class="fa fa-star text-warning"></i></label>
          <label for="stars-rating-1"><i class="fa fa-star text-warning"></i></label>
         </div> -->
       </div>
    </div>
   </div>
  </div>
  </div>
 </div>
 <!-- end product -->
</div>
</div>

{% endfor %}

{% for favourite in favourites_["products"] %}
 <!-- <div class="container"> -->
  {% set product = favourite.product %}
                        <div class="col-xs-12 col-md-6">
                
                        <!-- First product box start here-->
                        <div class="prod-info-main prod-wrap clearfix">
                          <div class="row">
                               <div class="col-md-5 col-sm-12 col-xs-12">
                                <div class="product-image">
                                 <img src="{{ url_for('static', filename=product.image) }}" class="img-responsive">
                                   <span class="tag2">
                                     
                                   </span>
                           </div>
                        </div>
                        <div class="col-md-7 col-sm-12 col-xs-12">
                        <div class="product-detail">
                           {% if product.variants|length > 0 %}
                                <span class="variant_cont">
                                    <label for="variant_select{{ product.item_code }}">Options
                                
                                    <select id="variant_select{{ product.item_code }}" class="variant_options btn btn-info">
                                        <option value="base:{{ product.price }}:{{ product.item_code }}"> Base </option>
                                        {% for variant in product.variants %}
                                            <option value="{{ variant.name }}:{{ variant.price }}:{{ product.item_code }}"> 
                                                {{ variant.name }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                    </label>
                               </span>
                                {% endif %}
                            <h5 class="name">
                                   <a href="#" class="title">
                                    {{ product.name }}
                                   </a>

                                   {% for category in product.categories %}
                                       <a href="{{ url_for('osf.shop',company=favourite.company_id,category=category.id)}}"><span>{{ category.name }}</span></a>
                                   {% endfor %}
                            </h5>
                                <p class="price-container">
                                 <span id="product_price_{{ product.item_code }}">{{ toMoney(product.price) }}</span>
                               </p>
                        <span class="tag1">
                          
                        {% set add_fav_class = "favourite" %}  
                        {% set fav_title = "Remove product from favourites." %}
                      
                        <span class="add_fav {{ add_fav_class }}" data="2:{{ product.id }}:product:{{ product.company_id }}" data-toggle="tooltip" title="{{ fav_title }}">
                          <i class="fa fa-star"></i>
                        </span>
                        </span>
                        </div>
                        <div class="description">
                        <p> {{ product.description }}</p>
                        </div>
                        <div class="product-info smart-form">
                        <div class="row">
                        <div class="col-md-12">
                        <a id="item_add_link_{{ product.item_code }}" href="{{ url_for('osf.add_osf_order',company=favourite.company_id,category=0,item=product.id,item_name='base',customer=favourite.customer_id )}}" class="btn btn-warning">Add To Order</a>                
                        </div>
                        <div class="col-md-12">
                        <!--  <div class="rating">Rating:
                        <label for="stars-rating-5"><i class="fa fa-star text-danger"></i></label>
                        <label for="stars-rating-4"><i class="fa fa-star text-danger"></i></label>
                        <label for="stars-rating-3"><i class="fa fa-star text-danger"></i></label>
                        <label for="stars-rating-2"><i class="fa fa-star text-warning"></i></label>
                        <label for="stars-rating-1"><i class="fa fa-star text-warning"></i></label>
                        </div> -->
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                        <!-- end product -->
                        </div>
                        <!-- </div> -->
                        
{% endfor %}
          </div>
      </div>
        <!-- Product Catagories Area End -->
    </div>
    <!-- ##### Main Content Wrapper End ##### -->

    <!-- ##### Newsletter Area Start ##### -->
 
    <!-- ##### Newsletter Area End ##### -->

    <!-- ##### Footer Area Start ##### -->
  {% include "osf/osf_footer.html" %}
  <!-- ##### Footer Area End ##### -->
  {% include "osf/osf_scripts.html" %}
</body>
</html>