<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=yes">

<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="mobile-web-app-capable" content="yes">

<meta property="og:url" content="https://www.ourstorefront.online/" />
<meta property="og:title" content="Shop eCommerce style at your local businesses from anywhere you have an internet connection" />
<meta property="og:image" content="{{ url_for('static', filename='img/core-img/logo.png') }}" />
<meta property="og:description" content="Our store front online...connecting local consumers with local businesses." />
<meta property="og:site_name" content="ourstorefront.online" />

<meta name="robots" content="index,follow" />
<meta name="keywords" content="Jamaican businesses, local businesses, services in jamaica, travel in jamaica, OSFO, our store front online, " />
<meta name="audience" content="all"/>
<meta name="distribution" content="global"/>
<meta name="description" content="Shop in comfort locally" />
<meta name="DC.title" content="ourstorefront.online" />
<link rel="shortcut icon" type="image/png" sizes="32x32" href="{{ url_for('static',filename='img/favicon-32x32.png') }}">
