   <!-- ##### jQuery (Necessary for All JavaScript Plugins) ##### -->
    <!-- Popper js -->
    <script type="text/javascript" src="{{ url_for('static',filename='js/popper.min.js') }}"></script>
    <!-- Bootstrap js -->
    <script type="text/javascript" src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
    <!-- Plugins js -->
    <script type="text/javascript" src="{{ url_for('static',filename='js/plugins.js') }}"></script>
    <!-- Active js -->
    <script type="text/javascript" src="{{ url_for('static',filename='js/active.js') }}"></script>

  
