        <!-- Mobile Nav (max width 767px)-->
        <div class="mobile-nav">
            <!-- Navbar Brand -->
            <div class="amado-navbar-brand">
                <a href="{{ url_for('osf.land') }}"><img src="{{ url_for('static', filename='img/core-img/logo.png') }}" alt="Our-Store-Front-Online"></a>
                <span class="v-line"></span>
                
            </div>
            <!-- Navbar Toggler -->
            <div class="amado-navbar-toggler">
                <span></span><span></span><span></span>
            </div>
        </div>

        <!-- Header Area Start -->
        <header class="header-area clearfix">
            <!-- Close Icon -->
            <div class="nav-close">
                <i class="fa fa-close" aria-hidden="true"></i>
            </div>
            <!-- Logo -->
            <div class="logo">
                <a href="{{ url_for('osf.land') }}"><img src="{{ url_for('static', filename='img/core-img/logo.png') }}" alt="Our-Store-Front-Online"></a>
                <span class="v-line"></span>
            </div>
            <!-- Amado Nav -->
            <nav class="amado-nav">
                <ul>
                    <li><span class="log_in_as">{{ current_user.fullname }}</span></li>
                    {% if is_admin == 1 %}
                        <li><a href="{{ url_for('home.dashboard') }}" rel=“nofollow”>Administrator</a></li>
                    {% endif %}
                    <li class="active"><a href="{{ url_for('osf.land') }}">Home</a></li>
                    {% if current_user.is_authenticated %}
                        <li><a href="{{ url_for('osf.logout') }}">Log Out</a></li>
                    {% else %}
                        <li><a href="{{ url_for('osf.account') }}">Sign In</a></li>
                    {% endif %}
                    <li><a href="{{ url_for('osf.about') }}">About</a></li>
                   
                </ul>
            </nav>
            <!-- Button Group -->
    <!--         <div class="amado-btn-group mt-30 mb-100">
                <a href="#" class="btn amado-btn mb-15">%Discount%</a>
                <a href="#" class="btn amado-btn active">New this week</a>
            </div> -->
            <!-- Cart Menu -->
            <div class="cart-fav-search mb-100">
                
                <a href="{{ url_for('osf.orders') }}" class="cart-nav" rel=“nofollow”><img src="{{ url_for('static', filename='img/core-img/cart.png') }}" alt="Orders"> Orders</a>
                
                <a href="{{ url_for('osf.favourites') }}" class="fav-nav" rel=“nofollow”><img src="{{ url_for('static', filename='img/core-img/favorites.png') }}" alt="Favourites"> Favourites (
                    {% if current_user.is_authenticated %}
                        <span class="fav-count">{{ favourites(current_user.email) }}</span>
                    {% else %}
                        0
                    {% endif %}
                )
                </a>
                <a href="#" class="search-nav"><img src="{{ url_for('static', filename='img/core-img/search.png') }}" alt="Search"> Search</a>
            </div>
            <!-- Social Button -->
            <div class="social-info d-flex justify-content-between">
                <!-- <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a> -->
                <a href="https://www.instagram.com/ourstore_front_online/" target="_blank" data-toggle="tooltip" title="follow us on instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                <a href="https://www.facebook.com/Our-Store-Front-Online-106677051142856/" target="_blank" data-toggle="tooltip" title="Like and follow our facebook page"><i class="fa fa-thumbs-up" aria-hidden="true"></i></a>
                <a href="#" onclick="javascript:social_sharer('whatsapp_share_osfo');" data-toggle="tooltip" title="Share with your whatsapp contacts"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
                <a href="https://www.facebook.com/sharer/sharer.php?u=https://www.ourstorefront.online" target="_blank" data-toggle="tooltip" title="Share OSFO on facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>

            </div>
        </header>