{% import "bootstrap/utils.html" as utils %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>Our Store Front Online {{ title }}</title>

    {% include "osf/osf_header.html" %}
</head>
<body>

        {% include "osf/osf_search.html" %}
	   

    <!-- ##### Main Content Wrapper Start ##### -->
    <div class="main-content-wrapper d-flex clearfix">
        {% include "osf/osf_navigator.html" %}

        {{ utils.flashed_messages() }}

        <div class="container text-center">
            <br>
            <br>
            <br>
            <br>
            <br>
            <h2>Congratulations!!!. Subscriber</h2>
             
            <h3>You have been subscribed to Our Store Front Online newsletter.</h3>
            <p>Thank you for subscribing to our Newsletter.</p>
            <p>You will now be in the loop with events and promotional content from Our Store Fronts.</p>
            <p>You will be hearing from us soon.</p>
            <h3>Have a good one!.</h3>
        </div>
    </div>

{% include "osf/osf_footer.html" %}
{% include "osf/osf_scripts.html" %}
</body>
</html>
