<!DOCTYPE html>
<html>
  <head>
    <title>OSFO | Login</title>
    {% block head_meta %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
    {% endblock %}
    {% block head_css %}
        <!-- Bootstrap Core CSS -->
        <link href="{{ url_for('static',filename='styles/bootstrap.min.css') }}" rel="stylesheet">
    
        <!-- MetisMenu CSS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/metisMenu/3.0.6/metisMenu.min.js"></script>
    
        <!-- Custom CSS -->
        <link href="{{ url_for('static',filename='styles/admin.css') }}" rel="stylesheet">
    
        <!-- Custom Fonts -->
        <link href="{{ url_for('static',filename='styles/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    {% endblock %}
    {% block head %}
    {% endblock %}
    {% block head_tail %}
    {% endblock %}
  </head>
  <body>
    {% block page_body %}
      {% block body %}{% endblock %}
    {% endblock %}

    {% block tail_js %}
        <!-- jQuery -->
        <script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
    
        <!-- Bootstrap Core JavaScript -->
        <script href="{{ url_for('static',filename='js/bootstrap.min.js') }}"> </script>
    
        <!-- Metis Menu Plugin JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/metisMenu/3.0.6/metisMenu.min.js"></script>
        
    
        <!-- Custom Theme JavaScript -->
        <script src="{{ url_for('static',filename='js/admin.js') }}"></script>
    {% endblock %}

    {% block tail %}
    {% endblock %}
  </body>
</html>