

<!-- <link href="{{ url_for('static',filename='styles/bootstrap.css') }}" rel="stylesheet"> -->
<!-- <link href="{{ url_for('static',filename='styles/fontawesome.css') }}" rel="stylesheet"> -->
<!-- <link href="{{ url_for('static',filename='styles/animations.css') }}" rel="stylesheet"> -->
<!-- <link href="{{ url_for('static',filename='styles/fa-animations.css') }}" rel="stylesheet"> -->


<link rel="icon" type="image/png" sizes="192x192"  href="{{ url_for('static',filename='img/android-icon-192x192.png') }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static',filename='img/favicon-32x32.png') }}">
<link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static',filename='img/favicon-96x96.png') }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static',filename='img/favicon-16x16.png') }}">
<link rel="manifest" href="{{ url_for('static',filename='manifest.json') }}">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="{{ url_for('static',filename='img/ms-icon-144x144.png') }}">
<meta name="theme-color" content="#ffffff">

<link href="{{ url_for('static',filename='styles/app.css') }}" rel="stylesheet">
<link href="{{ url_for('static',filename='styles/widget.css') }}" rel="stylesheet">
<link href="{{ url_for('static',filename='styles/pos.css') }}" rel="stylesheet">
<link href="{{ url_for('static',filename='styles/login.css') }}" rel="stylesheet">
<link href="{{ url_for('static',filename='styles/side_menu.css') }}" rel="stylesheet">
<link href="{{ url_for('static',filename='styles/setup.css') }}" rel="stylesheet">
<link href="{{ url_for('static',filename='styles/fixedtable.css') }}" rel="stylesheet">
<!-- <link href="{{ url_for('static',filename='styles/tablefilter.css') }}" rel="stylesheet"> -->
<link href="{{ url_for('static',filename='styles/theme.css') }}" rel="stylesheet">




