<script type="text/javascript" language="javascript" src="{{ url_for('static',filename='js/jquery.js') }}" > </script>
<script type="text/javascript" language="javascript" src="{{ url_for('static',filename='js/contenteditable.js') }}" > </script>
<script type="text/javascript" language="javascript" src="{{ url_for('static',filename='js/theme.js') }}" > </script>
<script type="text/javascript" language="javascript" src="{{ url_for('static',filename='js/serializer.js') }}" > </script>
<script type="text/javascript" language="javascript" src="{{ url_for('static',filename='js/animations.js') }}" > </script>
<script type="text/javascript" language="javascript" src="{{ url_for('static',filename='js/bootstrap.js') }}" > </script>
<script type="text/javascript" language="javascript" src="{{ url_for('static',filename='js/fixedtable.js') }}" > </script>
<script type="text/javascript" language="javascript" src="{{ url_for('static',filename='js/tablefilter.js') }}" > </script>
<script type="text/javascript" language="javascript" src="{{ url_for('static',filename='js/widget.js') }}" > </script>
<script type="text/javascript" language="javascript" src="{{ url_for('static',filename='js/define.js') }}" > </script>
<script type="text/javascript" language="javascript" src="{{ url_for('static',filename='js/app.js') }}" > </script>
<script type="text/javascript" language="javascript" src="{{ url_for('static',filename='js/pos.js') }}" > </script>
<script type="text/javascript" language="javascript" src="{{ url_for('static',filename='js/conf.js') }}" > </script>
